<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Profil d'utilisateur</h1>
    <h2>{{user.pseudo}}</h2>
    <h2>{{user.nom}}</h2>
    <h2>{{user.prenom}}</h2>
    <h2>{{user.dateNaissance}}</h2>
    <h2>{{user.pays}}</h2>
    <h2>{{user.langue}}</h2>
    <img src="{{user.avatar}}"></img>
    
  </div>
</div>

